/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d1d1d1;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-size: 1.5rem;
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* jp styles */

a {
  text-decoration: none;
  color: #252525;
}

body {
  margin: 0;
  padding: 0;
  color: #252525;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.center {
  text-align: center;
}


/* APP */

.view-container {
  padding: 0 1rem;
}

/* nav */
.nav-container {
  /* position: absolute; */
}

.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-container ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

li.login {
  margin-left: auto;
}

/* Poll List */

.poll-tabs-container {
  box-shadow: 0 3px 3px -9px rgb(223, 223, 223), 0 2px 7px rgb(214, 214, 214);
}

.poll-list-item {
  /* max-width: 590px; */
  padding: 10px;
  display: flex;
  margin: 1rem auto;
  border: 1px solid #dad7d7;
  border-radius: 4px;
  cursor: pointer;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #fff;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  max-height: 50px;
  max-width: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.avatar {
  max-height: inherit;
}

.poll-info {
  width: 88%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.poll-info .user-name {
  font-weight: bold;
  margin-right: 5px;
}

/* Poll */

.poll {
  padding: 10px;
  display: flex;
  margin: 1rem auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  justify-content: flex-start;
  text-decoration: none;
}

.poll .avatar-container {
  max-height: 60px;
  max-width: 60px;
  border-radius: 30px;
}

.poll-submit-btn {
  display: inline-block;
  /* border: 1px solid #dad7d7;
  border-radius: 4px; */
  margin: 1rem 0;
}

.submission-summary {
  font-weight: bold;
}

.poll-btns {
  margin: 1.5rem 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.poll-btns div:first-child {
  margin-right: 1rem;
}

/* Poll Percentage */
.percentage-bar {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}
.percentage-bar.sel {
  /* background-color: rgba(25, 118, 210, 0.3); */
  background-color: rgba(63, 81, 181, 0.3);
}

.percentage-bar-done {
  height: 100%;
  width: 50%;
  background: linear-gradient(to right,#bdbdbd,#A8A8A8 );
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}
.percentage-bar-done.sel {
  /* background: linear-gradient(to right,rgba(25, 118, 210, 1), rgba(25, 93, 210, 1) ); */
  background: linear-gradient(to right, rgba(63, 81, 181, 1), rgba(48, 70, 196, 1) );
}

/* Add poll */

.poll-input-divider {
  padding: 0.5rem;

}
.add-poll-btns {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

/* Leaderboard */

.user-list-container .avatar-container {
  width: 40px;
  height: 40px;
  background-color: rgb(233, 233, 233);
  background-color: rgb(253, 253, 253);
  margin-right: 1rem;
}

.user-list-container .username-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

/* Log in */

.login-container .login-btn {
  margin: 1.5rem 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.login-btn div {
  margin: 0 0 1rem 0;
  width: 100%;
}